@media (max-width: 1280px){
    .header{
        padding: 28px 100px;
    }
    .main__headline{
        margin: 0px 100px 0px 100px;
    }
    .main__results{
        padding: 50px 100px;
    }
    .main__results-up-card{
        max-width: 250px;
    }
    .main__products{
        padding: 100px 100px;
        grid-template-columns: repeat(4, 200px);
    }
    .main__products-card{
        max-width: 200px;
        height: 500px;
    }
    .main__products-card-cover{
        height: 250px;
    }
    .main__products-card-text-content{
        font-size: 16px;
    }
    .main__products-card-button-text{
        font-size: 18px;
    }
    .main__products-card-tirage-headline{
        font-size: 26px;
    }
    .main__brands{
        padding: 70px 100px;
    }
    .main__book{
        padding: 50px 100px 0px 100px;
    }
    .footer{
        padding: 25px 100px;
    }
}