.header{
    padding: 28px 300px;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-between;
}
.header__nav{
    width: 674px;
}
.header__nav-menu{
    list-style-type: none;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}
.header__nav-menu-item-link{
    transition: 0.5s;
    font-size: 20px;
    color: var(--main-color-default);
}
.header__nav-menu-item-link:hover{
    transition: 0.5s;
    color: var(--main-color-hover);
}
.header__nav-menu-item-link:active{
    transition: 0.5s;
    color: var(--main-color-active);
}
